.banner__titulo {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-weight: 100;
        font-size: 90px;
        position: absolute;
        left: 50%;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;    
}